<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ static_url("main.css") }}'>
    <script src='{{ static_url("build/pdf.js") }}'></script> 
    <script src='{{ static_url("main.js") }}' type="application/javascript"></script>
</head>
<body onload=''>
    <h1>{{ message }}</h1>
    <div id='explorer'>
        <div id='fileSelector'>
            <ul>
                {% for file in files %}
                <li onclick='show_pdfDocument("{{ static_url("files/" + escape(file)) }}")'>{{ escape(file) }}</li>
                {% end %}
            </ul>
        </div>
        <div id="navigator">
            <button id="prev" onclick="onPrevPage()">Previous</button>
            <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
            <button id="next" onclick="onNextPage()">Next</button>
        </div>
        <canvas id='the-canvas'></canvas>
    </div>
</body>
<script type='application/javascript'>
    console.log(window);
    show_pdfDocument('{{ static_url("files/Coffee Menu - May 2021.pdf") }}');
</script>
</html>